# Домашнее задание

Импорт всех необходимых библиотек и модулей

In [1]:
from pathlib import Path

import pandas as pd

### Задача №1
*С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.*

*Например,*

```
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

Загрузка данных

In [2]:
DATA_PATH = r'./names/'

In [3]:
def get_top3_names(years):
    file_names = []
    for year in years:
        file_names.append(Path(DATA_PATH).joinpath(f'yob{year}.txt'))

    names_data = pd.concat([pd.read_csv(f, names=['Name', 'Gender', 'Count']).assign(Year=f.stem[-4:]) for f in file_names], ignore_index=True)
    names_data = names_data.groupby(['Name'])['Count'].sum().reset_index()
    names_data.sort_values('Count', ascending=False, inplace=True)
    return names_data[:3].Name.tolist()

In [4]:
get_top3_names([1880])

['John', 'William', 'Mary']

In [5]:
get_top3_names([1900, 1950, 2000])

['James', 'John', 'Robert']

### Задача №2
*С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.*

```
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

#### NB!

В соответствии с формулировкой задачи необходимо посчитать **количество имен**, а в качестве примера приведена динамика рождаемости (т.е. посчитано **количество детей**). 

В связи с этим ниже созданы обе функции, по сути отличающиеся друг от друга поведением при группировке данных. 
Предположительно, цифры, полученные при вычислении динамики рождаемости, отличаются от эталонных значений из примера в связи с обновлением данных.

In [6]:
def names_dynamics(years):    
    file_names = []
    years = [1900, 1950, 2000]
    for year in years:
        file_names.append(Path(DATA_PATH).joinpath(f'yob{year}.txt'))

    names_data = pd.concat([pd.read_csv(f, names=['Name', 'Gender', 'Count']).assign(Year=f.stem[-4:]) for f in file_names], ignore_index=True)
    return names_data.groupby(['Gender', 'Year'])['Name'].count().unstack()

In [7]:
def babies_dynamics(years):    
    file_names = []
    years = [1900, 1950, 2000]
    for year in years:
        file_names.append(Path(DATA_PATH).joinpath(f'yob{year}.txt'))

    names_data = pd.concat([pd.read_csv(f, names=['Name', 'Gender', 'Count']).assign(Year=f.stem[-4:]) for f in file_names], ignore_index=True)
    return names_data.groupby(['Gender', 'Year'])['Count'].sum().unstack()

In [8]:
names_dynamics([1900, 1950, 2000])

Year    1900  1950   2000
Gender
F       2224  6111  17655
M       1506  4192  12117

In [9]:
babies_dynamics([1900, 1950, 2000])

Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202